DISCORD_TOKEN=your_bot_token
CLIENT_ID=App_ID
DISCORD_PUBLIC_KEY=your_application_public_key
GUILD_ID=optional_test_guild_id
CRON_SECRET=a_strong_random_secret
COMMANDS_SECRET=optional_register_commands_secret
DASHBOARD_SECRET=optional_dashboard_secret
KV_REST_API_URL=from_vercel_kv
KV_REST_API_TOKEN=from_vercel_kv
ALLOW_VERCEL_CRON=false
APP_URL=vercel_App_URL
MEMBRE_ROLE_ID=optional_member_role_id
APPRENTI_ROLE_ID=optional_apprenti_role_id
